@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding: 3rem;
  background: #121212;
  color: #fff;
  font-size: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}